<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.qrcodeteam30">

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- These two permissions is added to express the randomly crash when scanning qrcode -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QRCodeTeam30">
        <activity
            android:name=".myprofile.EstimateMyRankingActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".reusableactivity.CheckSameQRCodeActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".reusableactivity.ViewAllCommentActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".SearchQRCodeActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".reusableactivity.UserProfileActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".SearchUsernameActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".reusableactivity.MapQRCodeActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".reusableactivity.QRCodeInfoActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".viewallqrcode.UserStatisticsActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".viewallqrcode.ViewAllQRCodeActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".RankingActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".myprofile.ChangeProfileActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".myprofile.MyProfileActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".PlayerMenuActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".SignUpActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>