<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.qrcodeteam30">

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- These two permissions is added to express the randomly crash when scanning qrcode -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QRCodeTeam30">
        <activity
            android:name=".viewclass.ChooseGameActivity"
            android:exported="false" />
        <activity
            android:name=".viewclass.myprofile.EstimateMyRankingActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".viewclass.reusableactivity.CheckSameQRCodeActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".viewclass.reusableactivity.ViewAllCommentActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".viewclass.SearchQRCodeActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".viewclass.reusableactivity.UserProfileActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".viewclass.SearchUsernameActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".viewclass.reusableactivity.MapQRCodeActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".viewclass.reusableactivity.QRCodeInfoActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".viewclass.viewallqrcode.UserStatisticsActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".viewclass.viewallqrcode.ViewAllQRCodeActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".viewclass.RankingActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".viewclass.myprofile.ChangeProfileActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".viewclass.myprofile.MyProfileActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".viewclass.PlayerMenuActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".viewclass.SignUpActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".viewclass.MainActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>